* {
  border: 0;
  margin: 0;
  padding: 0;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu {
  position: fixed;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  top: 0;

  background-color: #81ac77;
}

#menu a {
  text-decoration: none;
  color: #f0f0f0;

  padding: 6px 10px 6px 10px;
}

#menu a:hover {
  background-color: #3c5736;
}

#menu a:active {
  color: #f0f0f0;
}

img {
  position: absolute;
  margin-left: 10px;
}
body{
  background-color: #dcdcdc;
}

.title {
  margin-top: 60px;

  text-align: center;
}

#text {
  text-justify: inter-word;
  margin-top: 25px;
  line-height: 25px;
}

#text .paragraph1 {
  margin-left: 350px;
  margin-bottom: 5px;
}

#text .paragraph2 {
  margin-bottom: 5px;
  margin-right: 30px;
  margin-left: 30px;
}

#text .paragraph3 {
  margin-right: 30px;
  margin-left: 30px;
}

footer {
  width: 100vw;
  bottom: 0;
  position: absolute;
  text-align: center;

  padding: 6px 0 6px 0;
  background-color: #81ac77;
}

h1 {
  margin-top: 60px;

  text-align: center;
}

table {
	border-color: #545b5e;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 100px;

  border-collapse: collapse;
}

.table td {
  border: 1px solid black;
  padding: 5px;
  background-color: #dcdcdc;
}

.table th {
  border: 1px solid black;
  background: #f0fff0;
  padding: 5px;
}

footer {
  width: 100vw;
  bottom: 0;
  position: absolute;
  text-align: center;

  padding: 6px 0 6px 0;
  background-color: #81ac77;
}
