* {
  border: 0;
  margin: 0;
  padding: 0;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu {
  position: fixed;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  top: 0;

  background-color: #81ac77;
}

#menu a {
  text-decoration: none;
  color: #f0f0f0;

  padding: 6px 10px 6px 10px;
}

#menu a:hover {
  background-color: #3c5736;
}

#menu a:active {
  color: #f0f0f0;
}

body {
  background-color: #dcdcdc;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: gray;

  padding: 25px;
}

header button {
  padding: 10px;

  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

main table {
  text-align: center;
}

main table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;

  padding: 5px;
}
