<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/addProduct.css">

        <title>Adicionar</title>
    </head>
    <body>
        <header>
            <a href="./index.html">
                <img src="../icons/arrow-left.svg" alt="">
            </a>
        </header>

        <form>
            <div>
                <label for="name">Nome</label>
                <input type="text" id="name">
            </div>

            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco">
            </div>
            

            <div>
                <label for="quantidade">Quantidade</label>
                <input type="text" id="quantidade">
            </div>
            

            <div>
                <label for="valor-unitario">Preço Unitario</label>
                <input type="text" id="valor-unitario">
            </div>
            

            <div>
                <label for="nome-fornecedor">Nome do Fornecedor</label>
                <input type="text" id="fornecedor">
            </div>
            

            <div>
                <label for="preco-custo">Preço de Custo</label>
                <input type="text" id="preco-custo">
            </div>

            <button type="submit" id="btn"  >Cadastrar</button> <!--onclick="SubmitData()"-->
        </form>

        <script type="module" src="../scripts/addProduct.js"></script>
    </body>
</html>