<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/index.css">
        <title>Estoque</title>
    </head>
    <body>
        <header>
            <h1>Bazar GMC</h1>

            <button type="button"><a href="./addProduct.html">adicionar produto</a></button>
        </header>

        <main id="corpo">
            <button id="fazerLista">Adicionar Produto</button>

            <table id="tabela">
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Fornecedor</th>
                    <th>Preço de Custo</th>
                </tr>
            </table>

            <button id="finishBuy" type="submit">Finalizar</button>
        </main>

        <script type="module" src="../scripts/index.js"></script>
    </body>
</html>