<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/index.css">
        <title>Estoque</title>
    </head>
    <body>
        <header>
            <h1>Bazar GMC</h1>

            <button>adicionar produto</button>
        </header>

        <main>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Preço de Custo</th>
                </tr>
                <tr>
                    <td>Barbante</td>
                    <td>R$ 17,00</td>
                    <td>10</td>
                    <td>R$ 13,00</td>
                    <td>R$ 11,00</td>
                </tr>
            </table>
        </main>
        <script src="../scripts/InsertTable"></script>
    </body>
</html>