<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/index.css">
        <title>Estoque</title>
    </head>
    <body>
        <header>
            <h1>Bazar GMC</h1>

            <button>adicionar produto</button>
        </header>

        <main>
            <table>
                <th>
                    <td>Nome</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                    <td>Preço de Unitário</td>
                    <td>Proço de Custo</td>
                </th>
            </table>
        </main>
    </body>
</html>