<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/ListProduct.css">
    <title>Estoque</title>
  </head>
  <body>
    <header>
      <a href="./index.html">
        <img src="../icons/arrow-left.svg" alt="">
      </a>
      <h1>Bazar GMC</h1>
    </header>

    <main id="corpo">
      <table id="tabela">
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Fornecedor</th>
          <th>Preço de Custo</th>
        </tr>
      </table>

      <button id="finishBuy">Finalizar Lista</button>
    </main>

    <script type="module" src="../scripts/ListProduct.js"></script>
  </body>
</html>